node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# removing assessment README
client/README.md

# local env variables
.env

# local copy of api endpoint response for debugging
server/utils.json
